* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #0b1e2d;
  color: white;
}

header {
  background: #06111a;
  padding: 20px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

.card {
  background: #10293f;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  background: #2aa4ff;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.aluno {
  background: #16344f;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
}

#botaosair {
  position: absolute;
  width: 900px;
  transition: 0.2s;
  bottom: 45%;
}

#botaosair:hover {
  background-color: #2aa3ff73;
  transform: scale(1.05);
}

#informacoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1pt white solid;
  height: 200px;
  gap: 200px;
}

.h3adm {
  font-size: 30px;
  text-align: left;
}

.card-stat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

